sequence-classification/logs/*
sequence-classification/checkpoints/*
sequence-classification/checkpoints_clf/*
sequence-classification/checkpoints_clf
sequence-classification/checkpoints_reg/*
sequence-classification/checkpoints_reg
sequence-classification/tokenizer/*
translation-summarization/logs/*
translation-summarization/checkpoints/*
translation-summarization/tokenizer/*
language-generation/logs/*
language-generation/checkpoints/*
language-generation/tokenizer/*
sequence-classification/logs
sequence-classification/checkpoints
sequence-classification/tokenizer
translation-summarization/logs
translation-summarization/checkpoints
translation-summarization/tokenizer
language-generation/logs
language-generation/checkpoints
language-generation/tokenizer
*.pyc