sequence-classification/logs/*
sequence-classification/checkpoints/*
translation-summarization/logs/*
translation-summarization/checkpoints/*
language-generation/logs/*
language-generation/checkpoints/*
